body {
    background-color: rgb(255, 255, 255);
  }
  .navBar{
    display: flex;
    background-image: url("../images/clouds.png");
    background-repeat: none;
    background-position: center;
    align-items: baseline;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    position: fixed;
    width: 100%;
  }
  .navIteam {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding-inline: 20px;
    }
    
  .left{
    width: 50%;
    justify-content: left;
    padding-left: 40px;
  }
  
  .right{
    width: 50%;
    justify-content: right;
    padding-right: 40px;
  }
  
  .left, .right, h1 {
    height: 200px;
    display: flex; 
    align-items: baseline;
    
  }

  h1 {
    font-family: 'Happy Monkey'; 
    font-size: 40px;
    color:rgba(255, 206, 227, 1);
    font-weight: 100;
    margin-top: 11px;
  }

  .navIteam{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 100;
    padding-inline: 20px;
  }
  span{
    color: rgba(3, 1, 88, 1);
  }

  #navbutton{
    background-color: rgba(5, 2, 146, 1);
    border: none;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 30px;

  }

.nav2{
    box-sizing: border-box;

}
.header{
    display: flex;
    padding-top: 200px;
    justify-content: center;
    align-items: center;
    font-family: 'Happy Monkey'; 
    font-size: 50px;
    color:rgb(0, 0, 0);
    font-weight: 100;
}
.mainPic{
    display: flex;
    width: auto;
    height: 500px;
    justify-content: center;
    padding-top: 30px;
}
.overView{
display: block;
justify-content: center;
padding-left: 120px;
padding-right: 120px;
}

.introduction{
    padding-top: 60px;
    font-family: 'Happy Monkey'; 
    font-size: 30px;
    color:rgb(0, 0, 0);
    font-weight: 100;
}
.introBody{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 60px;
}

.col1{
    padding-right: 100px ;
}
.col2{ 
    padding-left: 100px;
}

.line1{
    margin-left: 120px;
    margin-right: 120px;
    border: 2px solid black
}
.research{
    padding-top: 60px;
    display: block;
    justify-content: center;
    padding-left: 120px;
    padding-right: 0px;
}
.title{
    font-family: 'Happy Monkey'; 
    font-size: 30px;
    color:rgb(0, 0, 0);
    font-weight: 100;
}
.body{
    font-size: 18px;
    padding-top: 30px
}

.research1 {
    padding-left: 180px;
    padding-top: 30px;
}
.list8{
    padding-left: 60px;    
}
.evaluate{
    padding-left: 60px;
    padding-top: 15px;
    font-weight: 600;

}
.col8{
    padding-left: 100px;
    padding-right: 180px;
}
.center{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.col7{
    padding-left: 180px;
    padding-right: 60px;
}
 .col5{
    width: 500px;
    height: auto;
    padding-right: 100px;
 }
 .cloud{
    position: absolute;
    height: 400px;
    padding-left: 100px;
    top: 2000px;
 }
 .cloudline{
    margin-top: 250px;
 }
 .jumbotron{
    padding-right: 180px;
    padding-left: 180px;
 }
 .lead{ 
    padding-top: 30px;
}
.line2{
    margin-left: 120px;
    margin-right: 120px;
    border: 2px solid black;
    margin-top: 60px;
    margin-bottom: 60px;
}
.arrow2 {
    width: 250px;
    align-items: center;
    justify-content: space-between;
}
.row1{
    display: flex;
    padding-left: 200px;
}
.cloud2{
    height: 400px;
    padding-left: 200px;
}
.slide{
    width: 700px;
    height: auto;

}
.btn{
    background-color: rgba(5, 2, 146, 1);
    margin-left: 45px;
    margin-right: 45px;
}

